.wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
    padding: 8px;
    height: 80px;
    font-size: 18px;
    border-bottom: 1px solid #e1e4e8;
    background-color: #fafbfc;
}
